:root {
  --primary-color: #007acc;
  --secondary-color: #569CD6;
  --third-color: #3e3e42;
  --background-color: #1e1e1e;
  --text-color: #FFFFFF;
  --window-color: #2d2d30;
  --danger-color: #e53e3e;
  --hover-color: #007acc83;
  --table-color: #3e3e42;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
  color: var(--text-color);
}

header {
  background-color: var(--primary-color); /* Main accent color */
  color: white;
  padding: 15px 20px;
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  margin: 0;
  margin: auto;
}

.dashboard-container {
  max-width: 1800px; /* Restrict the maximum width */
  margin: 0 auto; /* Center the container */
  padding: 20px;
}

.main-content {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
  margin-top: 20px;
}


/***** Manage Sensor *****/

.manage-sensor {
  flex: 1;
  background: var(--window-color);
  border-radius: 15px;
  padding: 20px;
  max-width: 30.5%;
  min-width: 410px;
  /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
}

.manage-sensor h2 {
  margin-top: 0;
}

.manage-sensor input {
  display: block;
  width: 96%;
  margin-bottom: 20px;
  padding: 10px;
  border: 0px solid var(--background-color);
  border-radius: 5px;
  background-color: var(--third-color);
  color: white;
}



/***** Buttons *****/

.buttons {
  display: flex;
  gap: 15px;
}

.buttons button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.add-button {
  background-color: var(--primary-color);
  color: white;
}

.rename-button {
  background-color: var(--background-color);
  color: white;
}

.remove-button {
  background-color: var(--danger-color);
  color: white;
}

#refresh-button {
  position: absolute; /* Make it position relative to the parent */
  top: 18px; /* Align at the top */
  right: 18px; /* Align to the right */
  background-color: var(--window-color);
  border: none;
  cursor: pointer;
  z-index: 10; /* Ensure it's on top of other content */
}

#refresh-button img {
  vertical-align: middle;
  width: 28px;
  height: 28px;
}


/***** Device List table *****/

.device-list {
  position: relative;
  flex: 2;
  /* max-width: 66%; */
  background: var(--window-color);
  border-radius: 15px;
  padding: 20px;
  /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
}

.device-list h2 {
  margin-top: 0;
}

.scrollable-table {
  height: 200px;
  overflow-y: auto;
  /* border-radius: 15px; */
}

.scrollable-table > .table {
  width: 100%;
}

.device-list table {
  width: 100%;
  border-collapse: collapse;
  /* margin-top: 20px; */
}

.device-list thead th {
  background-color: var(--primary-color);
  color: white;
  text-align: left;
  font-weight: bold;
  position: sticky;  /* floating thead */
  top: 0;
  z-index: 1;
}

.device-list th, .device-list td {
  padding: 10px 15px;
  text-align: left;
}

.device-list tbody tr {
  border-bottom: 1px solid #ddd;
}


.device-list tbody tr:nth-of-type(even) {
  background-color: #3e3e42;
}

.device-list tbody tr:last-of-type {
  border-bottom: 2px solid var(--primary-color);
}

.active-row {
  font-weight: bold;
  color: var(--secondary-color);
}

.device-list tbody tr:hover {
  background-color: var(--hover-color);
  cursor: pointer;
}



/***** Charts *****/

.charts {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Responsive grid for charts */
  gap: 20px;
}

.chart-container {
  background: var(--window-color);
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  min-height: 400px;
}

.chart-container canvas {
  max-width: 100%; /* Ensure charts fit within their containers */
}


/***** Setup for mobile devices *****/

/* Restrict to a maximum of 3 charts per row */
@media (min-width: 1000px) {
  .charts {
      grid-template-columns: repeat(2, 1fr);
  }
}

/* Mobile responsive styles */
@media (max-width: 900px) {
  .main-content {
      flex-direction: column;
  }

  .manage-sensor, .device-list {
      max-width: 100%;
      min-width: 300px;
  }

  .buttons {
    font-size: 0.7em;
    gap: 10px;
  }
  
  .buttons button {
    padding: 10px 15px;
  }

  .device-list table {
    font-size: 0.7em;
    display: block;
    overflow-x: auto;
    white-space: nowrap;
  }

  .charts {
      grid-template-columns: 1fr; /* Stack charts vertically on mobile */
  }
  .chart-container {
    min-height: 250px;
  }
}
